<h1>Stupid Coaching Chat</h1>


<ol class="ask">
  <p><%= @question%></p>
  <p>-<em>You</em></p>
</ol>

<ol class="answer">
  <p><%= @answer%></p>
  <p>-<em>Coach</em></p>
</ol>


<%= link_to "Ask another question", ask_path%>
